<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>

<!-- 세션에 username이 있으면 환영 메시지 표시 -->
<div th:if="${userid}, ${password}">
    <p th:text="${userid} + '님 환영합니다!'"></p>
    <a href="/logout">로그아웃</a>
</div>

<!-- 세션에 username이 없으면 로그인 폼 표시 -->
<div th:unless="${userid} or ${password}">
    <form action="/login" method="post">
        <label for="userid">사용자 이름:</label>
        <input type="text" id="userid" name="userid" required />
        <button type="submit">로그인</button>
        <label for="password">사용자 비밀번호:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">로그인</button>
    </form>
</div>

</body>
</html>